.help-post-home {
	width: 320px;
	height: 250px;
	margin-bottom: 20px;
	border-radius: 25px 25px 8px 8px;
	padding: 15px;
	/* 	background: linear-gradient(180deg, rgb(65, 65, 65) 0%, rgb(36, 48, 73) 15%, rgba(37, 58, 101) 40%, rgb(82, 118, 188) 95%); */
/* 	background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(53, 74, 115) 80%);
 */	
 background-color: rgb(38, 38, 165);
 box-shadow: 1px 1px 10px rgba(171, 171, 217, 0.3);
	color: rgb(246, 246, 246);
	overflow: hidden;
	border: 0.5px solid whitesmoke;
	background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(53, 74, 115) 80%)
}

.help-post-home .title {
background-color: black;
	padding: 2px;
	min-height: 50px;

}

.help-post-home .location {

	margin-top: 10px;
}

.help-post-home .description {
	font-style: italic;
	margin-top: 15px;
	padding: 3px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	/* number of lines to show */
	line-clamp: 3;
	-webkit-box-orient: vertical;


}

.home-creator-picture {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	object-fit: cover;
	background-color: aliceblue;
}

.image-location-container {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}